# Python caches
health_domain/classification/data_profiling/__pycache__/
climate_domain/classification/data_profiling/__pycache__/

health_domain/classification/data_preparation/__pycache__/
climate_domain/classification/data_preparation/__pycache__/

health_domain/classification/classification/__pycache__/
climate_domain/classification/classification/__pycache__/

health_domain/forecasting/_and_preparation/__pycache__/
climate_domain/forecasting/_and_preparation/__pycache__/

.DS_Store
__pycache__